<div class="msg msg-sent">
  <strong><%= message.user.username %></strong>
  <span> <%= message.body %> </span>
  <div class="msg-status"><span> <%= message.created_at.strftime("%H:%M") %> </span><ion-icon name="checkmark-done-outline"></ion-icon></div>
</div>