<section class="form">
  <div class="form-header">
    <h2>Sign up for Alpha Blog</h2>
  </div>
  <div class="form-container">
    <div class="form-content"><%= render 'form' %></div>
  </div>
</section>
